* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}  
body {
    @extend %font-n;
    &.modal-show {
        overflow: hidden;
        height: 100%;
    }
}
button, input, textarea {
    outline: none;
}
button, a {
    cursor: pointer;
}
.wrapper {
    width: 100%;
    overflow: hidden;
    &__content {
        max-width: 1300px;
        margin: 0 auto;
    }
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    @media screen and (max-width: $large) {
        width: 992px;
    }
    @media screen and (max-width: $medium) {
        width: 768px;
        padding: 0 15px;
    }
    @media screen and (max-width: $small) {
        width: 100%;
    }
}
.small-container {
    width: 830px;
    margin: 0 auto;
    z-index: 2;
    position: relative;
    @media screen and (max-width: $medium) {
        width: 768px;
        padding: 0 15px;
    }
    @media screen and (max-width: $small) {
        width: 100%;
    }
}
.title {
    @extend %font-title;
    font-size: 54px;
    color: $custom-black;
    line-height: 1;
    @media screen and (max-width: $large) {
        font-size: 40px;
    }
    @media screen and (max-width: $small) {
        font-size: 27px;
    }
    span {
        color: $custom-blue;
    }
}
.up-title {
    @extend %font-b;
    color: rgb(107, 132, 132);
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
    letter-spacing: 2px;
    @media screen and (max-width: $small) {
        font-size: 11px;
    }
}
.btn {
    border: 0;
    border-radius: 30px;
    padding: 18px 35px;
    @extend %font-roboto;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    display: inline-block;
    text-decoration: none;
    &:hover {
        box-shadow: 0;
    }
}
p {
    color: $text;
    @extend %font-n;
    font-size: 16px;
    line-height: 1.4;
}
a {
    font-family: inherit;
    color: $custom-blue;
    text-decoration: underline;
}
.not-underline {
    text-decoration: none;
}
.sale-group {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    bottom: 30px;
    left: calc(50% + 40px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
br {
    @media screen and (max-width: $small) {
        display: none;
    }

}

.cbalink {
    display: none;
  }