.content {
    p {
        text-align: justify;
        margin-bottom: 20px;
        line-height: 1.6;
    }
    .title {
        text-align: center;
        margin: 60px 0 90px 0;
        @media screen and (max-width: $large) {
            margin: 40px 0 70px 0;
        }
        @media screen and (max-width: $medium) {
            margin: 40px 0 40px 0;
        }
        @media screen and (max-width: $large) {
            margin: 35px 0 35px 0;
        }
    }
    .smalltitle {
        @extend %font-title;
        font-size: 24px;
        color: $custom-black;
        margin: 40px 0 15px 0;
        text-align: left;
        &:first-child {
            margin-top: 0;
        }
    }
    .smalltitle-gray {
        margin-top: 40px;
    }
    p.inner {
        font-size: 20px;
        color: $custom-black;
        @media screen and (max-width: $medium) {
            font-size: 18px;
        }
    }
    &__wrap {
        display: flex;
        flex-wrap: wrap;
    }
    .col1, .col2 {
        width: calc(50% - 20px);
        @media screen and (max-width: $large) {
            width: calc(50% - 10px);
        }
        @media screen and (max-width: $medium) {
            width: 100%;
        }
    }   
    .col1 {
        padding-right: 40px; 
        @media screen and (max-width: $large) {
            padding-right: 20px;
        }
        @media screen and (max-width: $medium) {
            padding-right: 0;
        }
    }
    .col2 {
        padding-left: 40px; 
        @media screen and (max-width: $large) {
            padding-left: 20px;
        }
        @media screen and (max-width: $medium) {
            padding-left: 0;
        }
    }
    .col {

    }
    &__footer {
        margin-bottom: -70px;
        padding: 50px 0;
        p {
            text-align: center;
            @extend %font-i;
            font-size: 13px;
            line-height: 21px;
            color: rgb(134, 134, 134);
        }
    }
}