@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSansBold/OpenSansBold.eot?") format("eot"),
		 url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"),
         url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?") format("eot"),
		 url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
         url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSansItalic/OpenSansItalic.eot?") format("eot"),
		 url("../fonts/OpenSansItalic/OpenSansItalic.woff") format("woff"),
         url("../fonts/OpenSansItalic/OpenSansItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 300;
}
@font-face {
	font-family: "PatuaOne";
	src: url("../fonts/PatuaOne-Regular/PatuaOne-Regular.eot?") format("eot"),
		 url("../fonts/PatuaOne-Regular/PatuaOne-Regular.woff") format("woff"),
         url("../fonts/PatuaOne-Regular/PatuaOne-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
	font-family: "Roboto";
	src: url("../fonts/RobotoBold/RobotoBold.eot?") format("eot"),
		 url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
         url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
@font-face {
	font-family: "GothamPro";
	src: url("../fonts/GothamProBold/GothamProBold.eot?") format("eot"),
		 url("../fonts/GothamProBold/GothamProBold.woff") format("woff"),
         url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}
@font-face {
	font-family: "GothamPro";
	src: url("../fonts/GothamProRegular/GothamProRegular.eot?") format("eot"),
		 url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
         url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
	font-family: "Zeyada";
	src: url("../fonts/Zeyada/Zeyada.eot?") format("eot"),
		 url("../fonts/Zeyada/Zeyada.woff") format("woff"),
         url("../fonts/Zeyada/Zeyada.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}