// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$close-name: 'close';
$close-x: 58px;
$close-y: 0px;
$close-offset-x: -58px;
$close-offset-y: 0px;
$close-width: 28px;
$close-height: 28px;
$close-total-width: 86px;
$close-total-height: 68px;
$close-image: 'sprite.png';
$close: (58px, 0px, -58px, 0px, 28px, 28px, 86px, 68px, 'sprite.png', 'close', );
$facebook-name: 'facebook';
$facebook-x: 74px;
$facebook-y: 28px;
$facebook-offset-x: -74px;
$facebook-offset-y: -28px;
$facebook-width: 8px;
$facebook-height: 16px;
$facebook-total-width: 86px;
$facebook-total-height: 68px;
$facebook-image: 'sprite.png';
$facebook: (74px, 28px, -74px, -28px, 8px, 16px, 86px, 68px, 'sprite.png', 'facebook', );
$left-name: 'left';
$left-x: 0px;
$left-y: 0px;
$left-offset-x: 0px;
$left-offset-y: 0px;
$left-width: 29px;
$left-height: 50px;
$left-total-width: 86px;
$left-total-height: 68px;
$left-image: 'sprite.png';
$left: (0px, 0px, 0px, 0px, 29px, 50px, 86px, 68px, 'sprite.png', 'left', );
$pinterest-name: 'pinterest';
$pinterest-x: 58px;
$pinterest-y: 28px;
$pinterest-offset-x: -58px;
$pinterest-offset-y: -28px;
$pinterest-width: 16px;
$pinterest-height: 21px;
$pinterest-total-width: 86px;
$pinterest-total-height: 68px;
$pinterest-image: 'sprite.png';
$pinterest: (58px, 28px, -58px, -28px, 16px, 21px, 86px, 68px, 'sprite.png', 'pinterest', );
$right-name: 'right';
$right-x: 29px;
$right-y: 0px;
$right-offset-x: -29px;
$right-offset-y: 0px;
$right-width: 29px;
$right-height: 50px;
$right-total-width: 86px;
$right-total-height: 68px;
$right-image: 'sprite.png';
$right: (29px, 0px, -29px, 0px, 29px, 50px, 86px, 68px, 'sprite.png', 'right', );
$star-active-name: 'star-active';
$star-active-x: 17px;
$star-active-y: 50px;
$star-active-offset-x: -17px;
$star-active-offset-y: -50px;
$star-active-width: 17px;
$star-active-height: 17px;
$star-active-total-width: 86px;
$star-active-total-height: 68px;
$star-active-image: 'sprite.png';
$star-active: (17px, 50px, -17px, -50px, 17px, 17px, 86px, 68px, 'sprite.png', 'star-active', );
$star-no-active-name: 'star-no-active';
$star-no-active-x: 34px;
$star-no-active-y: 50px;
$star-no-active-offset-x: -34px;
$star-no-active-offset-y: -50px;
$star-no-active-width: 17px;
$star-no-active-height: 17px;
$star-no-active-total-width: 86px;
$star-no-active-total-height: 68px;
$star-no-active-image: 'sprite.png';
$star-no-active: (34px, 50px, -34px, -50px, 17px, 17px, 86px, 68px, 'sprite.png', 'star-no-active', );
$twitter-name: 'twitter';
$twitter-x: 51px;
$twitter-y: 50px;
$twitter-offset-x: -51px;
$twitter-offset-y: -50px;
$twitter-width: 16px;
$twitter-height: 13px;
$twitter-total-width: 86px;
$twitter-total-height: 68px;
$twitter-image: 'sprite.png';
$twitter: (51px, 50px, -51px, -50px, 16px, 13px, 86px, 68px, 'sprite.png', 'twitter', );
$youtube-name: 'youtube';
$youtube-x: 0px;
$youtube-y: 50px;
$youtube-offset-x: 0px;
$youtube-offset-y: -50px;
$youtube-width: 17px;
$youtube-height: 18px;
$youtube-total-width: 86px;
$youtube-total-height: 68px;
$youtube-image: 'sprite.png';
$youtube: (0px, 50px, 0px, -50px, 17px, 18px, 86px, 68px, 'sprite.png', 'youtube', );
$spritesheet-width: 86px;
$spritesheet-height: 68px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($close, $facebook, $left, $pinterest, $right, $star-active, $star-no-active, $twitter, $youtube, );
$spritesheet: (86px, 68px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(../img/#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
