// colors
$custom-blue: rgb(43, 185, 174);
$custom-purple: rgb(147, 136, 251);
$custom-black: rgb(40, 47, 47);
$custom-white: rgb(255, 255, 255);
$custom-gray: rgb(165, 166, 168);
$text: rgb(107, 132, 132);

$custom-purple-hover: rgb(168, 159, 252);
$custom-white-hover: rgb(246, 245, 255);

// fonts
%font-b {
    font-family: "OpenSans", sans-serif;
    font-style: bold;
    font-weight: 700;
}
%font-n {
    font-family: "OpenSans", sans-serif;
    font-style: normal;
    font-weight: 400;
}
%font-i {
    font-family: "OpenSans", sans-serif;
    font-style: italic;
    font-weight: 300;
}
%font-title {
    font-family: "PatuaOne", sans-serif;
    font-style: normal;
    font-weight: 400;
}
%font-roboto {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
}
%font-gotham-b {
    font-family: "GothamPro", sans-serif;
    font-style: normal;
    font-weight: bold;
}
%font-gotham-n {
    font-family: "GothamPro", sans-serif;
    font-style: normal;
    font-weight: normal;
}
// size
$large: 1200px;
$medium: 992px;
$small: 767px;

// flex
@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}