<div class="top" id="top">
    <div class="contsiner">
        <ul class="top__list">   
            <li class="top__item">$50 Off 3 or 6 Bottles</li>
            <li class="top__item">Use code <span>SAVE50DOLLARS</span> to activate your discount</li>
            <li class="top__item">offer ends on 15th Feb</li>        
        </ul>
    </div>
</div>