<div class="testimonials" id="testimonials">
    <div class="container">
        <p class="title">Here’s what people are saying<br> <span>about our products!</span><span class="star">*</span></p>
        <div class="testimonials__content">
            <div class="owl-carousel testimonials__carousel" id="testimonials__carousel">
                <div class="testimonials__item">
                    <p class="testimonials__text">“My doctor didn’t think it would work but I went from having 6 stones in a CT scan to NO stones in the last one. A few were passed and the rest just melted.”</p>
                    <p class="testimonials__name">Sara M., Brooklyn, NY</p>
                </div>
                <div class="testimonials__item">
                    <p class="testimonials__text">“I did 2 weeks of Flomax and the stone didn’t pass. Then I took my first Disolvatol in the morning and passed the stone later that same afternoon. Now after 3 months my CT scan shows ZERO stones.”</p>
                    <p class="testimonials__name">Michael L., Oxnard, CA</p>
                </div>
                <div class="testimonials__item">
                    <p class="testimonials__text">“After years of agony and 8, yes 8 surgeries my nutritionist instructed me to take high quality, organic Chanca Piedra. 19 months later I haven’t had one kidney stone. Not even a hint of pain.”</p>
                    <p class="testimonials__name">Dan L., Birmingham, AL</p>
                </div>
                <div class="testimonials__item">
                    <p class="testimonials__text">“I’ve had a long history of kidney stones including 3 surgeries. I started taking Disolvatol last May and within 2 weeks I passed several stones. Now I feel wonderful and have had no issue… ZERO. Amazing.”</p>
                    <p class="testimonials__name">Jim A., Martinsville, VA</p>
                </div>
                <div class="testimonials__item">
                    <p class="testimonials__text">“I had a 2cm stone and I was scheduled for surgery. I figured it wouldn’t hurt to give this a try while I waited. 6 weeks after starting the pills I had an ultrasound and the stone was gone.”</p>
                    <p class="testimonials__name">Adam N., Henryetta, OK</p>
                </div>
            </div>
        </div>
        <p class="testimonials__bottom">The testimonials you see here are from real Disolvatol customers and reflect their real life experiences using the product.<br> We cannot claim that every user of this product will achieve the same exact results</p>
    </div>
</div>