<div class="faq" id="faq">
    <div class="container">
        <p class="title">Frequently Asked Questions</p>
        <div class="col1">
            <p class="sub-title">What exactly does Disolvatol do?</p>
            <p>Disolvatol helps give your body exactly what it needs to cleanse excess build up and toxins. After cleansing the body the substance increases clearance so impurities can be safely passed. Disolvatol is NOT a drug! It is an all-natural dietary supplement which combines the highest concentration and purest form of Chanca Piedra a.k.a “Stone Breaker” into a natural relieving process.</p>
            <p class="sub-title">Are there any negative side effects?</p>
            <p>There have been no substantive reports of any side effects from users of Disolvatol.</p>
            <p class="sub-title">Is Disolvatol natural?</p>
            <p>Yes. Disolvatol is a natural herb used for over 1,000 years.</p>
            <a href="#order" class="btn faq__ordernow">Order now!</a>
        </div>
    </div>
</div>