<div class="order" id="order">
    <div class="container">
        <div class="order__item">
            <p class="title"><span>1 Month</span> Supply</p>
            <div class="order__image">
                <img src="img/one-bottle.png" alt="">
            </div>
            <p class="text"><b>One bottle</b> of Disolvatol</p>
            <p class="text"><b>$4.00</b> Shipping & Handling</p>
            <p class="text"><b>45 Days</b> Mone</p>
            <p class="order__price">$59.00</p>
            <a href="http://disolvatol.myshopify.com/cart/1001577617:1" class="btn order__buynow">Buy now</a>            
        </div>
        <div class="order__item optimal">
            <p class="title"><span>3 Months</span> Supply</p>
            <div class="order__image">
                <img src="img/three-bottles.png" alt="">
                <span class="sale-group discount1"></span>
            </div>
            <p class="text"><b>Three bottles</b> of Disolvatol</p>
            <p class="text"><b>Free</b> Shipping & Handling</p>
            <p class="text"><b>45 Days</b> Money-Back Guarantee</p>
            <p class="order__price">$139.00</p>
            <a href="http://disolvatol.myshopify.com/cart/40443136266:1" class="btn order__buynow">Buy now</a>            
        </div>
        <div class="order__item">
            <p class="title"><span>6 Months</span> Supply</p>
            <div class="order__image">
                <img src="img/six-bottles.png" alt="">
                <span class="sale-group  discount2"></span>
            </div>
            <p class="text"><b>Six bottles</b> of Disolvatol</p>
            <p class="text"><b>Free</b> Shipping & Handling</p>
            <p class="text"><b>45 Days</b> Money-Back Guarantee</p>
            <p class="order__price">$223.00</p>
            <a href="http://disolvatol.myshopify.com/cart/40443136330:1" class="btn order__buynow">Buy now</a>            
        </div>
    </div>
</div>