<div class="subscribe" id="subscribe">
    <div class="container">
        <div class="subscribe__content">
            <div class="col1">
                <div class="subscribe__image">
                    <img src="img/monthly-bottles.png" alt="">
                    <span class="sale-group  discount3"></span>
                </div>
            </div>
            <div class="col2">
                <p class="title">Monthly Subscription </p>
                <p class="text"><b>30 Days</b> Supply of Disolvatol. Try it and if you don’t feel a difference, it’s money back time.<br>
                    <b>There’s no risk.</b></p>
                <a href="#order" class="btn subscribe__ordernow">Order now!</a>
            </div>
        </div>
    </div>
</div>
<div class="refund" id="refund">
    <div class="small-container">
        <p class="title">Refund Policy</p>
        <p class="sub-title">Our #1 policy is customer satisfaction</p>
        <p class="text">If you are unsatisfied with our product for any reason, return it <b>within 45 days</b> of receiving it and we’ll provide you with a full refund. It’s that easy!</p>
        <p class="refund__name">Sincerely, CEO <span>Tony Spencer</span></p>
    </div>
</div>