<footer class="footer" id="footer">
    <div class="footer__top">
        <div class="container">
            <div class="col1">
                <p class="title">Disolvatol</p>
                <p class="text">These statements have not been verified by the FDA. The product is not intended to diagnose, cure, treat, or prevent any disease. If a condition persists, please consult your physician. The content found on this website should not be used as specific medical advice or a substitute for a medical consultation with your physician.</p>
            </div>
            <div class="col2">
                <p class="title">Quick Links</p>
                <a href="/shipping.html">Shipping & Returns</a>
                <a href="/terms.html">Terms & Conditions</a>
                <a href="/privacy_policy.html">Privacy Policy</a>
            </div>
            <div class="col3">
                <p class="title">Contact Us</p>
                <p class="text">
                    Kidney Stone Labs<br>
                    1053 E. Whitaker Mill Rd.,<br> 
                    Suite 115-H, Raleigh, NC 27607<br>
                    <span><a href="tel: 8663182574">(866) 318-2574</a></span>  
                </p>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <p class="footer__copyright">© 2018 Kidney Stone Labs. All Rights Reserved.</p>
            <p class="footer__designed">designed by <a href="">SPARK</a></p>
        </div>
    </div>
</footer>