<div class="container">
    <include src="header.html"></include>        
    <div class="showcase" id="showcase">
        <div class="col1">
            <p class="title">Disolvatol’s lab grade <span>Chanca Piedra</span></p>
            <p>Our product is back in stock and ready to ship. We thank you<br> 
            for your patience during this period of overwhelming<br>  
            for Disolvatol.</p>
            <div class="showcase__buttonblock">
                <a href="#order" class="btn showcase__getstarted">Get started</a>
                <span>or</span>
                <button class="showcase__watchthevideo">
                    <span>watch the video</span>
                    <span class="videobutton"></span>
                </button>
            </div>
            <div class="showcase__icongroup">
                <div class="icon icon1">
                    <i></i>
                    <span>Pain Relief</span>
                </div>
                <div class="separator"></div>
                <div class="icon icon2">
                    <i></i>
                    <span>Stone Breaker & Dissolver</span>
                </div>
                <div class="separator"></div>
                <div class="icon icon3">
                    <i></i>
                    <span>Max Potency</span>
                </div>
            </div>
        </div>
        <div class="col2">
            <div class="image-circle">
                <div class="image-pulse"></div>
                <img src="img/bottle-1.png" alt="">
            </div>
        </div>
    </div>
</div>
