<div class="bad" id="bad">
    <div class="small-container"> 
        <p class="title">Not All Kidney Stone <br>Supplements <span>Are Created Equal</span></p>
        <p class="subtitle">There’s a <b>huge difference</b> between products that can deliver and those that don’t. Some even put your safety at risk. </p>
        <p>If you look at nearly any supplement designed to help you pass or prevent kidney stones, you’ll likely see one commonality: many contain the herb Chanca Piedra. Chanca Piedra can be amazingly powerful for preventing and eliminating kidney stones, but there’s one major problem: <b>many companies don’t use lab grade Chanca Piedra</b>. In other words, if you buy a Chanca Piedra product and aren’t sure of its source, it’s likely that it’s not as potent as it could be — because it isn’t necessarily lab grade. </p>
        <p>Worse yet, if you choose to use one of the cheaper products out there, you run the risk of ingesting toxic chemicals that could ultimately do you more harm than good.</p>
    </div>
</div>