<div class="about" id="about">
    <div class="container">
        <div class="about__container">
            <p class="title">We’ve solved<br> both of these issues</p>
            <p class="text">Disolvatol is <span>99.8% purity grade Chanca Piedra </span>and it’s <span>free from toxic chemicals,</span> making it an all-natural, safe, and effective herbal supplement designed to help you get rid of kidney stones — now and in the future.</p>
            <a href="#order" class="btn about__order">Order disolvatol now!</a>
        </div>
    </div>
</div>