<div class="group8" id="group8">
    <div class="small-container">
        <p class="up-title">Without getting too scientific, let’s look at</p>
        <p class="title">Why Lab Grade of <span>Chanca Piedra</span><br> is so Important</p>
        <p>Imagine that every day for lunch, you ate a fast food burger, fries, and a shake. While that may sound good, how do you think you and your body would feel? Probably tired and ready for a nap, right? Eventually, this would likely lead to a life of obesity, health issues, and many aches and pains. </p>
        <p>But what happens if you were to replace that daily lunch with a nutritious, leafy green salad with grilled chicken, tomatoes, cucumbers, and an oil and vinegar dressing on top? How would you feel then? You’d likely have a ton of energy and feel a lot better!</p>
        <p>The reason for the difference is simple: in the first scenario, you’re taking in a lot of things your body doesn’t need, namely fat and extra calories, while being pretty void of nutrition. However, in the second example, you’re giving your body the nutrients it needs to live a life of greater health.</p>
        <img src="img/food.png" alt="">
    </div>
</div>