<div class="ceo" id="ceo">
    <div class="container">
        <div class="ceo__container">
            <p class="title">This is why <span>lab grade matters</span> <br>with Chanca Piedra</p>
            <p class="text">Not only does higher grade mean that you have access to higher quality herbs — herbs that do what they’re meant to do — but it does so without exposing you to ingredients that could make you feel worse. As a result, your body responds with improved kidney health, naturally. </p>
            <p class="text">When you give your body the purest nutrients and herbs, it responds in a more positive manner that means a life of greater kidney health (and less pain!).</p>
        </div>
    </div>
</div>