<div class="features" id="features">
    <div class="container">            
        <p class="title"><span>Prevent & Get</span> Rid of Bothersome <br>Kidney Stones!</p>
        <div class="features__wrap">
            <div class="col1">
                <img src="img/bottle-2.png" alt="">
                <p class="features__imgdesc">Take two capsules of Disolvatol daily with its lab grade Chanca <br>Piedra and instead of wondering if your stones are going to bother <br>you today, you’ll tell them that they don’t stand a chance.</p>
            </div>
            <div class="col2">
                <ul class="features__list">     
                    <li class="features__item">
                        <p class="features__title">Breaks up stones</p>
                        <p class="features__description">The term Chanca Piedra literally means “stone breaker.” Taking this lab grade herb helps reduce stone size so they leave your bodily more easily.</p>
                    </li>
                    <li class="features__item">
                        <p class="features__title">“Smoother” passing of stones</p>
                        <p class="features__description">A <a href="">study published in Urological Research</a> found that high purity grade Chanca Piedra makes kidney stones “smoother,” which means they’re easier and less painful to pass.</p>
                    </li>
                    <li class="features__item">
                        <p class="features__title">Soothes pain</p>
                        <p class="features__description">An <a href="">article published in the Journal of Pharmacy and Pharmacology</a> reveals that Chanca Piedra actually helps ease pain naturally and without risks associated with many other painkillers, such as addiction.</p>
                    </li>
                    <li class="features__item">
                        <p class="features__title">Increased urination</p>
                        <p class="features__description">Many doctors will tell you that the best way to get rid of kidney stones is to drink more so you urinate more. Disolvatol helps with increased urination too, acting as a diuretic and flushing your kidneys in the process.</p>
                    </li>
                    <li class="features__item">
                        <p class="features__title">Reduced future stone formation</p>
                        <p class="features__description">The aforementioned <a href="">Journal of Pharmacy and Pharmacology article</a> also reports that Chanca Piedra helps reduce crystal formation. Translation: you may never have to deal with painful stones again when you take this herb daily!</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>