<div class="story" id="story">
    <div class="small-container">    
        <p class="up-title">Disolvatol is scientifically proven to provide</p>
        <p class="title">Many benefits when it comes <br>to greater <span>kidney health</span></p>
        <p>The <a href="">National Kidney Foundation reports</a> that kidney stones will afflict one out of every ten people nationwide. Also, more than 500,000 people will seek medical care via our nation’s emergency rooms this year alone for issues related to kidney stones. </p>
        <p>That being said, study after study has been conducted on the herb Chanca Piedra, many of which have found that it effectively administers numerous kidney benefits, potentially reducing the number of hospital visits required for this particular condition. </p>
        <p>For instance, a <a href="">study</a> conducted by researchers from the Nephrology Division of a Brazilian university found that Phyllanthus niruri — another name for the Chanca Piedra herb — helps inhibit the growth of the crystals that turn into kidney stones. Thus, by taking it regularly, it can act as a preventative measure for future kidney stone issues. </p>
        <p>Furthermore, in the report <a href="" class="not-underline">“Herbal Secrets of the Rainforest”</a>, it’s revealed that Dr. Wolfram Wiemann<br>
        of Nuremberg, Germany saw a 94% success rate of stone elimination with two weeks when<br>
        high-grade Chanca Piedra was administered to 100 patients with kidney stones.</p>
        <a href="#order" class="btn story__makeyourorder">Make your order now!</a>
    </div>
</div>