<div class="supplement" id="supplement">
    <div class="container">
        <div class="col1">
            <div class="supplement__image"></div>
        </div>
        <div class="col2">
            <p class="title"><span>Higher Quality</span> Chanca Piedra</p>
            <p class="text">With herbs like Chanca Piedra, it’s not so much about the amount of the herb, <b>it’s the quality</b>. That’s why Disolvatol uses only <b>99.8% lab grade Chanca Piedra.</b></p>
            <p class="text">It’s also why we only source the Chanca Piedra used in Disolvatol in the U.S. We also test it in the U.S., so you can be sure you’re getting the highest purity grade Chanca Piedra in every bottle.</p>
        </div>
    </div>
</div>
<div class="guarantee" id="guarantee">
    <div class="small-container">
        <p class="title">Disolvatol’s ironclad guarantee</p>
        <p class="big-text">You’re skeptical. We get it. We would be too.</p>
        <p class="text">That’s why if you’re not completely satisfied with the results of Disolvatol, we’ll gladly refund your money. That’s how much we believe in our product and its ability to help with your kidney stones.</p>
        <a href="#order" class="btn guarantee__ordernow">Order now!</a>
    </div>
</div>
<div class="ingredients" id="ingredients">
    <div class="container">
        <div class="ingredients__container">
            <p class="title">What Makes It <span>Work?</span></p>
            <ul class="ingredients__list">
                <li class="ingredients__item">
                    <img src="img/ingredient-1.png" alt="">
                    <div class="ingredients__content">
                        <p class="ingredients__title">99.8% Purity Grade Chanca Piedra</p>
                        <p class="ingredients__description">Purity grade matters. The lower the grade, the lower the effectiveness. That’s why Disolvatol is proud to be the only all-natural herbal solution that uses only 99.8% purity grade Chanca Piedra. Why this amount? It’s simple: 99.8% purity grade is shown to be an effective remedy for eliminating kidney stones.</p>
                    </div>
                </li>
                <li class="ingredients__item">
                    <img src="img/ingredient-2.png" alt="">
                    <div class="ingredients__content">
                        <p class="ingredients__title">Ginger Root</p>
                        <p class="ingredients__description">Ginger root is often used to help ease digestive issues such as gas, diarrhea, and nausea. It’s also taken as a pain reliever for conditions related to arthritis, bronchitis, and even headaches.</p>
                    </div>
                </li>
                <li class="ingredients__item">
                    <img src="img/ingredient-3.png" alt="">
                    <div class="ingredients__content">
                        <p class="ingredients__title">Horsetail</p>
                        <p class="ingredients__description">Horsetail is often used to strengthen the respiratory system, protect bone health, and even provide greater health to our teeth and hair. It does a little bit of everything.</p>
                    </div>
                </li>
                <li class="ingredients__item">
                    <img src="img/ingredient-4.png" alt="">
                    <div class="ingredients__content">
                        <p class="ingredients__title">Pomegranate</p>
                        <p class="ingredients__description">Not only is this fruit tasty, but it also provides quite a few health benefits, which include better protection from the sun, elimination of free radicals, reduced inflammation, and enhanced blood circulation.</p>
                    </div>
                </li>
                <li class="ingredients__item">
                    <img src="img/ingredient-5.png" alt="">
                    <div class="ingredients__content">
                        <p class="ingredients__title">Dandelion Root</p>
                        <p class="ingredients__description">Though many people consider dandelions to be eyesores, their roots actually help with muscle aches, gallstones, and joint pain. They’re also said to help treat viral infections.</p>
                    </div>
                </li>
                <li class="ingredients__item">
                    <img src="img/ingredient-6.png" alt="">
                    <div class="ingredients__content">
                        <p class="ingredients__title">Parsley Root</p>
                        <p class="ingredients__description">The root of parsley has been credited with a variety of health benefits ranging from helping control diabetes to preventing osteoporosis. It’s also an anti-inflammatory with pain relieving properties.</p>
                    </div>
                </li>
                <li class="ingredients__item">
                    <img src="img/ingredient-7.png" alt="">
                    <div class="ingredients__content">
                        <p class="ingredients__title">Milk Thistle</p>
                        <p class="ingredients__description">Not really milk at all, this flowering herb can be found in Mediterranean countries and is often used to help treat liver issues like hepatitis, cirrhosis, and jaundice. It also assists in treating individuals with gallbladder disorders.</p>
                    </div>
                </li>
                <li class="ingredients__item">
                    <img src="img/ingredient-8.png" alt="">
                    <div class="ingredients__content">
                        <p class="ingredients__title">Licorice Root</p>
                        <p class="ingredients__description">Licorice root has been credited with lowering cholesterol, easing menstrual cramps, and providing relief from gastrointestinal issues. It also helps with weight reduction and skin issues.</p>
                    </div>
                </li>
                <li class="ingredients__item">
                    <img src="img/ingredient-9.png" alt="">
                    <div class="ingredients__content">
                        <p class="ingredients__title">Rosemary</p>
                        <p class="ingredients__description">From a stronger immune system to fewer bacterial infections, rosemary delivers a number of advantages. That includes mental health, as it’s found to improve both mood and memory. We’ll take it!</p>
                    </div>
                </li>
                <li class="ingredients__item">
                    <img src="img/ingredient-10.png" alt="">
                    <div class="ingredients__content">
                        <p class="ingredients__title">Cranberry</p>
                        <p class="ingredients__description">Cranberry is fantastic for everything urinary tract-related, like relief from kidney stones and urinary tract infections, and provides benefits related to respiratory disorders and heart disease.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="better" id="better">
    <div class="container">
        <div class="col1">              
            <p class="title">Why choose <span>Disolvatol</span> over all</p>
            <p class="up-title">of the other kidney stone preventatives & treatments?</p>
            <p>Disolvatol is created by Kidney Stone Labs, the leaders in kidney stone research. We take stone prevention and treatment seriously and use only the highest quality grade of Chanca Piedra possible. Plus, check out our ingredient list and you’ll also see that we use only all-natural, clean ingredients in our products. There’s also the fact that Disolvatol is American-made and third-party tested in an FDA (Food and Drug Administration) facility.</p>
            <p class="sub-title">Quality matters</p>
            <p>Disolvatol harnesses the powerful ancient properties of laboratory grade Chanca Piedra to support your body's natural ability to pass and prevent stones while minimizing damage to organs such as the kidney, urethra, and bladder.</p>
        </div>
        <div class="col2">
            <img src="img/pills2.png" class="pills" alt="">
            <img src="img/logos.png" class="logos" alt="">
        </div>
    </div>
</div>