<header class="header" id="header">
    <nav class="menu" id="navigation">
        <a href="/" class="logotype"></a>
        <button class="menu__open"><i class="fas fa-bars"></i></button>
        <ul class="menu__list">
            <button class="menu__close">
                <svg style="width:36px;height:36px" viewBox="0 0 24 24">
                    <path fill="#9388fb" d="M13.46,12L19,17.54V19H17.54L12,13.46L6.46,19H5V17.54L10.54,12L5,6.46V5H6.46L12,10.54L17.54,5H19V6.46L13.46,12Z" />
                </svg>
            </button>
            <li class="menu__item"><a href="#header">Home</a></li>
            <li class="menu__item"><a href="#about">About us</a></li>
            <li class="menu__item"><a href="#features">Features</a></li>
            <li class="menu__item"><a href="#testimonials">Testimonials</a></li>
            <li class="menu__item"><a href="#faq">F.A.Q.</a></li>
        </ul>
        <a href="tel: 8663182574" class="btn header__call">
            <i class="fas fa-phone"></i>
            Call us: (866) 318-2574
        </a>
    </nav>
</header>