<div class="modal" id="modal">
    <div class="modal__overlay"></div>
    <div class="modal__window">
        <div class="modal__close">
            <svg style="width:36px;height:36px" viewBox="0 0 24 24">
                <path fill="#9388fb" d="M13.46,12L19,17.54V19H17.54L12,13.46L6.46,19H5V17.54L10.54,12L5,6.46V5H6.46L12,10.54L17.54,5H19V6.46L13.46,12Z" />
            </svg>
        </div>
        <script src="https://fast.wistia.com/embed/medias/32a836xyfr.jsonp" async></script>
        <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
        <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
            <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                <div class="wistia_embed wistia_async_32a836xyfr videoFoam=true" style="height:100%;width:100%">&nbsp;</div>
            </div>
        </div>
    </div>
</div>