<p class="title"><span>Privacy</span> Policy</p>
<div class="content__wrap">
    <div class="col1">
        <p class="inner">This written policy (the "Privacy Policy") is designed to tell you about our practices regarding collection, use, and disclosure of information that you may provide via this website and certain related services.</p>
        <p class="smalltitle">Policy</p>
        <p>The policy of the website is to respect and protect the privacy of our users. To fulfill this policy, the website agrees to exercise the precautions set forth in this Privacy Policy to maintain the confidentiality of information provided by you in connection with accessing and using the website. </p>
        <p>Your privacy is very important to us. Please be assured that when you utilize any part of our website or make any purchases, we do not share, sell, trade, or otherwise disclose any of our customer information at any time.</p>
        <p>Our customer database will not be sold to mailing lists or bulk e-mail companies, and we do not participate in any type of telemarketing activities. The information you provide to us for your product purchase will be maintained in the strictest confidentiality at all times.</p>
        <p class="smalltitle">Your Consent</p>
        <p>This Privacy Policy sets forth the website's current policies and practices with respect to nonpublic personal information of the users of the website. By using this website, you agree with the terms of this Privacy Policy. Whenever you submit information via this website, you consent to the collection, use, and disclosure of that information in accordance with this Privacy Policy.</p>
        <p class="smalltitle">Our Commitent to Children's Privacy</p>
        <p>Protecting the privacy of the very young is especially important. This website is not intended for people under the age of 18. </p>
        <p>We never collect or maintain information at the website from persons we know to be under age 18, and no part of our website is designed to attract anyone under age 18.</p>
        <p class="smalltitle">Active Information Collection</p>
        <p>Like many websites, this website actively collects information from its visitors both by asking you specific questions and by permitting you to communicate directly with us via e-mail and/or feedback forms. </p>
        <p>Some of the information that you submit may be personally identifiable information (that is, information that can be uniquely identified with you, such as your full name, e-mail address, mailing address, phone number and sales delivery, billing and credit card information).</p>
        <p>Some areas of this website may require you to submit information in order for you to benefit from the specified features (such as newsletter subscriptions, tips/pointers, order processing) or to participate in a particular activity (such as sweepstakes or other promotions). You will be informed at each information collection point what information is required and what information is optional.</p>
    </div>
    <div class="col2">
        <p class="smalltitle">Disclosure of Information</p>
        <p>Except as otherwise stated, we may use your information to improve the content of our website, customize the website to your preferences, communicate information to you (if you have requested it), for our marketing and research purposes, and for the purposes specified in this Privacy Policy. If you provide personally identifiable information to this website, we may combine such information with other actively collected information unless we specify otherwise at the point of collection. We may combine your personally identifiable information with passively collected information.</p>
        <p>Remember that the information provided by this site is for informational and educational purposes and is not intended to be used in connection with, or as a substitute for, medical diagnosis or treatment by a trained professional. You should always consult your own physician about any healthcare questions you may have, especially before trying a new medication, diet, fitness program, or approach to health care issues.</p>
        <p class="smalltitle">Security of Information</p>
        <p>You can be assured that personal information collected through the website is secure and is maintained in a manner consistent with current industry standards. The importance of security for all personal information associated with our subscribers is of utmost concern to us. </p>
        <p>Unfortunately, no data transmission over the internet or any wireless network can be guaranteed to be 100% secure. As a result, while we strive to protect your personal information, you acknowledge that: (a) there are security and privacy limitations of the internet which are beyond our control; (b) the security, integrity, and privacy of any and all information and data exchanged between you and us through this Website cannot be guaranteed; and (c) any such information and data may be viewed or tampered with in transit by a third party. Moreover, where you use passwords, ID numbers, or other special access features on this website, it is your responsibility to safeguard them.</p>
        <p class="smalltitle">Passive Information Collection</p>
        <p>As you navigate through a website, certain information can be passively collected (that is, gathered without your actively providing the information) using various technologies and means, such as Internet Protocol addresses, cookies, Internet tags, and navigational data collection.</p>
        <p>This website may use Internet Protocol (IP) addresses. An IP Address is a number assigned to your computer by your Internet service provider so you can access the Internet and is generally considered to be non-personally identifiable information, because in most cases an IP address is dynamic (changing each time you connect to the Internet), rather than static (unique to a particular user's computer). We use your IP address to diagnose problems with our server, report aggregate information, determine the fastest route for your computer to use in connecting to our website, and administer and improve services to our consumers.</p>
        <p class="smalltitle">Changes to This Privacy Policy</p>
        <p>This Privacy Policy may change over time.</p>
    </div>
</div>
<div class="content__footer">
    <p>These statements have not been verified by the FDA. The product is not intended to diagnose, cure, treat, or prevent any disease. If a condition persists, please consult your physician.<br> The content found on this website should not be used as specific medical advice or a substitute for a medical consultation with your physician.</p>
</div>