<p class="title"><span>Shipping</span> Policy</p>
<div class="content__wrap">
    <div class="col1">
        <p class="inner">We are dedicated to delivering you the fastest and most reliable shipping available. Please view our policies below; if you can't find what you're looking for, just give us a call at <a href="tel: 8663182574">(866) 318-2574</a> and we will be happy to assist you.</p>
        <p class="smalltitle">Free Shipping and Standard Shipping</p>
        <p>Our free shipping offer applies to any orders on products labeled with "We Pay Your Shipping" to a shipping address within the United States. If the order does not qualify for free shipping, then the advertised rate applies for standard shipping. The advertised rate will be reflected in the shopping cart and during order checkout. All orders will still have the option of choosing other shipping methods at checkout for a faster delivery time. </p>
        <p>All orders placed before 3PM Eastern Time on a business day will ship out the same day, orders placed after 3PM will ship out the following business day.</p>
        <p>Standard Shipping is provided by USPS Priority Mail and has an estimated delivery time of 3-5 business days. Tracking is included but delivery date is not guaranteed.</p>
        <p class="smalltitle">Expedited Shipping</p>
        <p>For U.S. addresses, FedEx does not count Saturdays, Sundays, or Federal Holidays in their guaranteed delivery time. USPS does include Saturdays for delivery to most areas but does not count Sundays or Federal Holidays; their estimated days for delivery are also not guaranteed.</p>
        <p class="smalltitle">Tracking Your Order</p>
        <p>Once your order has shipped and the carrier has generated a tracking number, you will be emailed the tracking information. Tracking information is available within your account. Certain drop-shipped orders will not have tracking available, you'll need to call <a href="tel: 8663182574">(866) 318-2574</a> for assistance. International orders sent through USPS do not guarantee tracking after they leave the US.</p>
        <p>If you have any shipping concerns please call us at <a href="tel: 8663182574">(866) 318-2574</a> for assistance.</p>
        <p class="smalltitle">Backordered Items</p>
        <p>In the event an item you've ordered is out of stock, we will ship the items available and ship the out of stock item(s) as soon as they become available via an expedited method at no cost to you.</p>        
        <p class="smalltitle">Damaged or Lost Packages</p>
        <p>All damaged packages must be reported to us within 3 business days of receipt. These packages will be reported to the carrier for a damage claim. Please do not discard any packaging or product until all shipping issues have been resolved.</p>
        <p>If your package is lost, please call <a href="tel: 8663182574">(866) 318-2574</a> as soon as possible so that we can work with you to resolve the issue. We request that you check with all family members, co-workers, neighbors, or any other person that may have accepted or stored the package before reporting that it is lost or missing. If you live in an apartment complex, please check with the front office to see if it was received by them.</p>
        <p class="smalltitle">Delivery of your Shipment</p>
        <p>We only require a signature for shipments on orders over $250 in value. Typically, your package is left in a safe location if no one is available to receive it; however, it is ultimately up to the individual driver if he/she feels comfortable leaving the package without a signature. USPS drivers will leave your package in your mailbox, but if the package does not fit they will leave it at your door. Any comments entered during the time of order will be printed on to the shipping label. These notes will be passed to the delivery driver, but we can offer no guarantee that they will be followed at the time of delivery.</p>
        <p>During the summer months, we highly recommend our products are ordered at the beginning of the week and shipped via expedited shipping methods due to the high temperatures and to avoid any delays over the weekend.</p>
    </div>
    <div class="col2">
        <p class="smalltitle">Accurate Address Information</p>
        <p>Our shipping methods are only as accurate as the information that we are given. Please verify all of your shipping and billing information when placing your order. Our system is capable of retaining multiple addresses; although it will always select the default address for both shipping and billing. You will have the option of entering a new address or selecting one that has been previously entered during the checkout process. It is your responsibility to verify that all addresses are complete and accurate. Please make sure to include your apartment, suite, unit, room, or space number to ensure proper and timely delivery of your order. All orders will be shipped to the address listed on the confirmation page of the order.</p>        
        <p class="smalltitle">International Shipping</p>
        <p><b>Import Duties, Fees, and Taxes:</b></p>
        <p>All orders shipping to a destination outside of the USA are subject to the import duties, fees, and taxes of the destination country.</p>
        <p>Delays in delivery may occur if your package is randomly selected by your country’s Customs Department or Agency for inspection.</p>
        <p>We have no control over the process or additional charges associated with the delivery and importation of your order (package) into your country. We do not benefit in anyway from these charges and we work very closely with our brokers and carriers to ensure as few delays as possible.</p>
        <p>We are not responsible for any duties, fees, or taxes that are incurred during the delivery of your order/package.</p>
        <p>Please note that it is your responsibility to obtain any necessary governmental permission and/or documentation for import approval, as well as to verify and pay all import charges including duties, fees, and taxes.</p>
        <p class="smalltitle-gray"><b>Selecting a Carrier: </b></p>
        <p>We strongly recommend that you choose a carrier that you are familiar with. We offer two options to choose from: FedEx and USPS.</p>
        <p><b>FedEx International offers</b> premium and reliable expedited delivery service to many countries with a delivery time ranging from 1 to 5 business days depending on service you choose. Tracking is available for most destinations and an estimated delivery date is also available. For FedEx specific international shipping information please visit: <a href="https://www.fedex.com/GTM?cntry_code=us" target="_blank">FedEx Global Trade Manager.</a></p>
        <p><b>USPS International offers</b> affordable and proven international delivery service to many countries with a delivery time ranging from 3 business days up to 2 months depending on the service you choose but the delivery date is not guaranteed. However, due to the fact that USPS uses the Postal Service for the country of import for final delivery, certain charges are waived for some countries. For USPS specific international shipping information please visit: <a href="https://pe.usps.com/text/imm/immctry.htm" target="_blank">Index of Countries and Localities.</a></p>
        <p>FedEx and USPS both work to clear your package through Customs and have brokers that work to facilitate the clearance process, but no service can guarantee all packages will reach their final international destination.</p>

        <p class="smalltitle-gray"><b>International Returns: </b></p>
        <p>In the event that a package is detained or refused at time of import by the country’s Customs Agency for any reason, we will credit a full refund of the order less the total shipping charges including any return charges. This refund is processed when the order is returned to us.</p>
        <p>If an order/package is refused and sent back to us with outstanding charges incurred during delivery, we will apply all charges to the purchaser’s account and deduct the charges directly from the credited amount due to you for the return upon receipt of the returned package.</p>
        <p>USPS is the only carrier that will return your package if it cannot be cleared through Customs without you or us incurring additional charges.</p>
        <p>Should you have any questions, concerns, or need further assistance, please do not hesitate to call us at <a href="tel: 8663182574">(866) 318-2574</a>.</p>

    </div>
</div>
<div class="content__footer">
    <p>These statements have not been verified by the FDA. The product is not intended to diagnose, cure, treat, or prevent any disease. If a condition persists, please consult your physician.<br> The content found on this website should not be used as specific medical advice or a substitute for a medical consultation with your physician.</p>
</div>