<p class="title"><span>Terms</span> of Offer</p>
<div class="content__wrap">
    <div class="col">
        <p class="inner">By placing an order through this website, you agree to the terms and conditions set for the below. Please read through these terms carefully before placing your order and print a copy for future reference. Please also read our <a href="/privacy_policy.html">Privacy Policy</a> regarding personal information provided by you, which is incorporated herein by reference.</p>
        <p class="smalltitle">Health Disclaimer</p>
        <p>Any statements on this site or any materials or supplements distributed or sold by Disolvatol.com have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure or prevent any disease. If you are pregnant, nursing, taking medication, or have any medical condition. We suggest consulting with a physician before using any of our products. The results on all products are not typical and not everyone will experience these results.</p>        
        <p class="smalltitle">Return Policy</p>
        <p>You may return product for any reason and receive a full refund. To be considered for reimbursement, products purchased through standard delivery must be unopened and in the original packaging. However, the first purchase only requires the empty or partially empty bottle to be returned. To return a product you must do the following: </p>
        <p>Call us at <a href="tel: 8663182574">(866) 318-2574</a> within 45 days of purchase (Product issues not declared within 45 days of purchase are not entitled to a refund). You will be given a Return Merchandise Authorization (RMA) number. </p>
        <p>To receive your refund, you must postmark your return within 45 days of purchase. Be sure to clearly write the return merchandise authorization (RMA) number on the outside of the box. Our shipping department does NOT accept any packages without an RMA number. You pay for return shipping.</p>
        <p>Address the return package to: Kidney Stone Labs LLC, 4011 Westchase Blvd, Ste 250, Raleigh, NC 27607 . We will not accept or issue a refund for any packages marked return to sender or refused. If you return a package, we recommend that you get proof of shipment. Upon receipt of your returned product with a valid RMA number, a refund will be issued to your credit card for a full refund of the purchase price including shipping and handling. After the shipping department receives your return, it generally takes 3-5 business days or less to process your refund. Once a return is processed, it can take up to one billing cycle for this return to be posted to your account, depending on your financial institution.</p>
        <p class="smalltitle">Terms of Use </p>
        <p>This Terms of Service ("TOS") is a legally binding agreement made by and between Direct Digital LLC ("we" or "us") and you, personally and, if applicable, on behalf of the entity for whom you are using this web site (collectively, "you"). This TOS governs your use of the Disolvatol.com web site ("Web Site") and the services we offer on the Web Site ("Services"), so please read it carefully.</p>
        <p>BY ACCESSING OR USING ANY PART OF THE WEB SITE, YOU AGREE THAT YOU HAVE READ, UNDERSTAND AND AGREE TO BE BOUND BY THIS TOS. IF YOU DO NOT AGREE TO BE SO BOUND, DO NOT ACCESS OR USE THE WEB SITE.</p>
        <p>INTERNET TECHNOLOGY AND THE APPLICABLE LAWS, RULES, AND REGULATIONS CHANGE FREQUENTLY. ACCORDINGLY, WE RESERVE THE RIGHT TO MAKE CHANGES TO THIS TOS AT ANY TIME. YOUR CONTINUED USE OF THE WEB SITE CONSTITUTES ASSENT TO ANY NEW OR MODIFIED PROVISION OF THIS TOS THAT MAY BE POSTED ON THE WEB SITE.</p>
        <p class="smalltitle">1. Using the Web Site.</p>
        <p><b>A. Eligibility.</b> Except as expressly provided below, Services may only be used by, and Membership is limited to, individuals who can form legally binding contracts under applicable law. Without limitation, minors are prohibited from becoming Members and, except as specifically provided below, using fee-based Services. Membership is defined by engaging in a purchase agreement with our Direct Digital LLC wherein you, the consumer purchase one of the products found on the Web Site.</p>
        <p><b>B. Compliance.</b> You must comply with all of the terms and conditions of this TOS, the policies referred to below, and all applicable laws, regulations and rules when you use the Web Site.</p>
        <p><b>C. License and Restrictions.</b> Subject to the terms and conditions of this TOS, you are hereby granted a limited, non-exclusive right to use the content and materials on the Web Site in the normal course of your use of the Web Site. You may not use any third party intellectual property without the express written permission of the applicable third party, except as permitted by law. The Website will retain ownership of its intellectual property rights and you may not obtain any rights therein by virtue of this TOS or otherwise, except as expressly set forth in this TOS. You will have no right to use, copy, display, perform, create derivative works from, distribute, have distributed, transmit or sublicense from materials or content available on the Web Site, except as expressly set forth in this TOS. You may not attempt to reverse engineer any of the technology used to provide the Services.</p>
        <p><b>D. Prohibited Conduct.</b> In your use of the Web Site and the Services, you may not: (i) infringe any patent, trademark, trade secret, copyright, right of publicity or other right of any party; (ii) defame, abuse, harass, stalk any individual, or disrupt or interfere with the security or use of the Services, the Web Site or any web sites linked to the Web Site; (iii) interfere with or damage the Web Site or Services, including, without limitation, through the use of viruses, cancel bots, Trojan horses, harmful code, flood pings, denial of service attacks, packet or IP spoofing, forged routing or electronic mail address information or similar methods or technology; (iv) attempt to use another user's account, impersonate another person or entity, misrepresent your affiliation with a person or entity, including (without limitation) the Website or create or use a false identity; (v) attempt to obtain unauthorized access to the Web Site or portions of the Web Site that are restricted from general access; (vi) engage, directly or indirectly, in transmission of "spam," chain letters, junk mail or any other type of unsolicited solicitation; (vii) collect, manually or through an automatic process, information about other users without their express consent or other information relating to the Web Site or the Services; (viii) use any meta tags or any other "hidden text" utilizing the Disolvatol name, trademarks, or product names; (ix) advertise, offer to sell, or sell any goods or services, except as expressly permitted by the Website; (x) engage in any activity that interferes with any third party's ability to use or enjoy the Web Site or Services; or (xi) assist any third party in engaging in any activity prohibited by this TOS.</p>
        <p><b>E. Other Users.</b> If you become aware of any conduct that violates this TOS, We encourage you to contact Customer Service. We reserve the right, but will have no obligation, to respond to such communications.</p>
        <p class="smalltitle">2. Your Content.</p>
        <p><b>A. License.</b> By posting, storing, or transmitting any content on or to the Website, you hereby grant us a perpetual, worldwide, non-exclusive, royalty-free, sub-licensable, right and license to use, copy, display, perform, create derivative works from, distribute, have distributed, transmit and sublicense such content in any form, in all media now known or hereinafter created, anywhere in the world. You hereby irrevocably waive any claims based on moral rights or similar theories, if any.</p>
        <p><b>B. Objectionable Content.</b> We do not have the ability to control the nature of the user-generated content offered through the Web Site. You are solely responsible for your interactions with other users of the Web Site and any content that you post. We will not be liable for any damage or harm resulting from any content or your interactions with other users of the Web Site. We reserve the right, but have no obligation, to monitor interactions between you and other users of the Web Site and take any other action to restrict access to or the availability of any material that we or another user of the Web Site may consider to be obscene, lewd, lascivious, filthy, excessively violent, harassing or otherwise objectionable (including, without limitation, because it violates this TOS).</p>
        <p class="smalltitle">3. Accuracy of Information.</p>
        <p>We attempt to ensure that the information on the Web Site is complete and accurate; however, this information may contain typographical errors, pricing errors, and other errors or inaccuracies. We assume no responsibility for such errors and omissions, and reserve the right to: (i) revoke any offer stated on the Web Site; (ii) correct any errors, inaccuracies or omissions; and (iii) make changes to prices, content, promotions, product descriptions or specifications, or other information on the Web Site.</p>
        <p class="smalltitle">4. Sales Tax.</p>
        <p>If you purchase any products available on the Web Site ("Products"), you will be responsible for paying any applicable sales tax indicated on the Web Site.</p>
        <p class="smalltitle">5. Fraud.</p>
        <p>We reserve the right, but undertake no obligation, to actively report and prosecute actual and suspected credit card fraud, or any other fraud on the company. We may, in our discretion, require further authorization from you such as a telephone confirmation of your order and other information. We reserve the right to cancel, delay, refuse to ship, or recall from the shipper any order if fraud is suspected. We capture certain information during the order process, including time, date, IP address, and other information that will be used to locate and identify individuals committing fraud. If any Web Site order is suspected to be fraudulent, we reserve the right, but undertake no obligation, to submit all records, with or without a subpoena, to all law enforcement agencies and to the credit card company for fraud investigation. We reserve the right to cooperate with authorities to prosecute offenders to the fullest extent of the law.</p>
        <p class="smalltitle">6. Intellectual Property Rights.</p> 
        <p><b>B. Copyright.</b> All materials on the Web Site, including without limitation, the logos, design, text, graphics, other files, and the selection and arrangement thereof are either owned by us or are the property of our suppliers or licensors or other companies. You may not use such materials without permission.</p>
        <p><b>B. Trademarks.</b> Disolvatol is a trade name we own. The related design marks, and other trademarks on the Web Site are owned by us. Page headers, custom graphics, button icons and scripts are trademarks or trade dress we own. You may not use any of these trademarks, trade dress, or trade names without our express written permission.</p>
        <p class="smalltitle">7. Third Party Websites.</p> 
        <p>Disolvatol.com may contain links to other websites on the Internet that are owned and operated by third parties. We do not control the information, products or services available on these third party websites. The inclusion of any link does not imply our endorsement of the applicable website or any association with the website's operators. Because we have no control over such websites and resources, you agree that we are not responsible or liable for the availability or the operation of such external websites, for any material located on or available from any such websites or for the protection of your data privacy by third parties. Any dealings with, or participation in promotions offered by, advertisers on the Website, including the payment and delivery of related goods or services, and any other terms, conditions, warranties or representations associated with such dealings or promotions, are solely between you and the applicable advertiser or other third party. </p>
        <p>You further agree that we shall not be responsible or liable, directly or indirectly, for any loss or damage caused by the use of or reliance on any such material available on or through any such site or any such dealings or promotions.</p>
        <p class="smalltitle">8. Linking and Framing.</p> 
        <p>You may not deep link to portions of the Web Site, or frame, inline link, or similarly display any of our property, including, without limitation, the Web Site. You may not use any of our logos or other trademarks as part of a link without express written permission.</p>
        <p class="smalltitle">9. Comments.</p> 
        <p>All comments, feedback, suggestions, ideas, and other submissions that you disclose, submit or offer to us in connection with your use of the Web Site will become our exclusive property. Such disclosure, submission or offer of any Comments shall constitute an assignment to us of all worldwide right, title and interest in all patent, copyright, trademark, and all other intellectual property and other rights whatsoever in and to the Comments and a waiver of any claim based on moral rights, unfair competition, breach of implied contract, breach of confidentiality, and any other legal theory. You will, at our cost, execute any documents to effect, record, or perfect such assignment. Thus, we will own exclusively all such right, title and interest and shall not be limited in any way in the use, commercial or otherwise, of any Comments. You should not submit any Comments to us if you do not wish to assign such rights to us. We are and will be under no obligation: (i) to maintain any Comments in confidence; (ii) to pay to you or any third party any compensation for any Comments; or (iii) to respond to any Comments. You are and shall remain solely responsible for the content of any Comments you make.</p>
        <p class="smalltitle">10. Indemnification.</p>
        <p>You agree to defend, indemnify and hold the Web Site, and its subsidiaries, affiliates, and their directors, officers, agents, members, shareholders, co-branders or other partners, employees, and Advertising Partners harmless from any liabilities, losses, actions, damages, claims or demands, including reasonable attorneys' fees, costs and expenses, made by any third party directly or indirectly relating to or arising out of (a) content you provide to the Web Site or otherwise transmit or obtain through the Service, (b) your use of the Service, (c) your connection to the Service, (d) your violation of this Agreement, (e) your violation of any rights of another or (f) your failure to perform your obligations hereunder. If you are obligated to provide indemnification pursuant to this provision, we may, in our sole and absolute discretion, control the disposition of any Claim at your sole cost and expense. Without limitation of the foregoing, you may not settle, compromise or in any other manner dispose of any Claim without our consent.</p>
        <p class="smalltitle">11. DISCLAIMERS, EXCLUSIONS AND LIMITATIONS</p>
        <p><b>A. DISCLAIMER OF WARRANTIES.</b> WE PROVIDE THE WEB SITE, THE PRODUCTS, AND SERVICES ON AN "AS IS" AND "AS AVAILABLE" BASIS. WE DO NOT REPRESENT OR WARRANT THAT THE PRODUCTS, THE WEB SITE, THE SERVICES, ITS USE, ANY INFORMATION ON IT: (I) WILL BE UNINTERRUPTED OR SECURE, (II) WILL BE FREE OF DEFECTS, INACCURACIES OR ERRORS, (III) WILL MEET YOUR REQUIREMENTS, OR (IV) WILL OPERATE IN THE CONFIGURATION OR WITH OTHER HARDWARE OR SOFTWARE YOU USE. WE MAKE NO WARRANTIES OTHER THAN THOSE MADE EXPRESSLY IN THIS TOS, AND HEREBY DISCLAIM ANY AND ALL IMPLIED WARRANTIES, INCLUDING WITHOUT LIMITATION, WARRANTIES OF FOR A PARTICULAR PURPOSE, MERCHANTABILITY AND NON-INFRINGEMENT. </p>
        <p><b>B. DISCLAIMER OF FORWARD-LOOKING STATEMENTS.</b> THIS WEB SITE MAY CONTAIN FORWARD-LOOKING STATEMENTS THAT REFLECT OUR CURRENT EXPECTATION REGARDING FUTURE EVENTS AND BUSINESS DEVELOPMENT. THE FORWARD-LOOKING STATEMENTS INVOLVE RISKS AND UNCERTAINTIES. ACTUAL DEVELOPMENTS OR RESULTS COULD DIFFER MATERIALLY FROM THOSE PROJECTED AND DEPEND ON A NUMBER OF FACTORS, SOME OF WHICH ARE OUTSIDE OUR CONTROL. </p>
        <p><b>C. HEALTH RELATED INFORMATION.</b> WE PROVIDE INFORMATION ON THE WEB SITE FOR INFORMATIONAL PURPOSES ONLY. IT IS NOT MEANT AS A SUBSTITUTE FOR THE ADVICE OF A DOCTOR OR OTHER HEALTH CARE PROFESSIONAL. YOU SHOULD NOT USE THE INFORMATION AVAILABLE ON OR THROUGH THE WEB SITE FOR DIAGNOSING OR TREATING A MEDICAL CONDITION. YOU SHOULD CAREFULLY READ ALL PRODUCT INSTRUCTIONS PRIOR TO USE. </p>
        <p><b>B. PRODUCTS.</b> ALL PRODUCTS ARE SUBJECT ONLY TO ANY APPLICABLE WARRANTIES OF THEIR RESPECTIVE MANUFACTURERS, DISTRIBUTORS, AND SUPPLIERS, IF ANY, PROVIDED IN THE PRODUCT PACKAGING. TO THE FULLEST EXTENT PERMISSIBLE BY APPLICABLE LAW, WE HEREBY DISCLAIM ALL WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION, ANY IMPLIED WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT, OR FOR A PARTICULAR PURPOSE. WITHOUT LIMITING THE GENERALITY OF THE FOREGOING, WE HEREBY EXPRESSLY DISCLAIM ALL LIABILITY FOR PRODUCT DEFECT OR FAILURE, CLAIMS THAT ARE DUE TO NORMAL WEAR, PRODUCT MISUSE, ABUSE, PRODUCT MODIFICATION, IMPROPER PRODUCT SELECTION, NON-COMPLIANCE WITH ANY CODES, OR MISAPPROPRIATION. </p>
        <p><b>E. EXCLUSION OF DAMAGES.</b> WE WILL NOT BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY CONSEQUENTIAL, INCIDENTAL, INDIRECT, PUNITIVE OR SPECIAL DAMAGES (INCLUDING, WITHOUT LIMITATION, DAMAGES RELATING TO LOST PROFITS, LOST DATA OR LOSS OF GOODWILL) ARISING OUT OF, RELATING TO OR CONNECTED WITH THE USE OF THE WEB SITE OR PRODUCTS, REGARDLESS OF THE CAUSE OF ACTION ON WHICH THEY ARE BASED, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES OCCURRING. </p>
        <p><b>F. LIMITATION OF LIABILITY.</b> IN NO EVENT WILL OUR AGGREGATE LIABILITY ARISING FROM, RELATING TO, OR IN CONNECTION WITH THIS TOS (INCLUDING, WITHOUT LIMITATION, CLAIMS RELATING TO THE WEB SITE, OR THE PRODUCTS) EXCEED THE GREATER OF $100 OR THE AMOUNT THAT YOU PAID FOR THE PRODUCTS.</p>
        <p class="smalltitle">12. Force Majeure.</p>
        <p>You acknowledge and understand that if the Web Site is unable to provide the Products as a result of a force majeure event the Website will not be in breach of any of its obligations towards You under these Terms of Service. A force majeure event means any event beyond the control of the Website. THE WEBSITE SHALL NOT HAVE ANY LIABILITY TO YOU WHETHER IN CONTRACT, WARRANTY, TORT (INCLUDING NEGLIGENCE), OR ANY OTHER FORM OF LIABILITY FOR FAILING TO PERFORM ITS OBLIGATIONS UNDER THIS AGREEMENT TO THE EXTENT THAT SUCH FAILURE IS AS A RESULT OF A FORCE MAJEURE EVENT.</p>
        <p class="smalltitle">13. Domestic Use; Export Restriction.</p>
        <p>We control the Web Site from our offices within the United States of America. We make no representation that the Web Site or its content (including, without limitation, any products or services available on or through the Web Site) are appropriate or available for use in other locations. Users who access the Web Site from outside the United States of America do so on their own initiative and must bear all responsibility for compliance with local laws, if applicable. Further, the United States export control laws prohibit the export of certain technical data and software to certain territories. No content from the Web Site may be downloaded in violation of United States law.</p>
        <p class="smalltitle">14. Arbitration.</p>
        <p>All disputes arising out of or relating to this TOS (including its formation, performance or alleged breach) or your use of the Web Site will be exclusively resolved under confidential binding arbitration held in Boston, Massachusetts before and in accordance with the Rules of the American Arbitration Association. The arbitrator's award will be binding and may be entered as a judgment in any court of competent jurisdiction. To the fullest extent permitted by applicable law, no arbitration under this TOS will be joined to an arbitration involving any other party subject to this TOS, whether through class arbitration proceedings or otherwise. Notwithstanding the foregoing, we will have the right to seek injunctive or other equitable relief in state or federal court located in Raleigh, NC to enforce this TOS or prevent an infringement of a third party's rights. In the event equitable relief is sought, each party hereby irrevocably submits to the personal jurisdiction of such court.</p>
        <p class="smalltitle">15. WAIVER OF CLASS ACTION RIGHTS.</p>
        <p>BY ENTERING INTO THIS TOS, YOU HEREBY IRREVOCABLY WAIVE ANY RIGHT YOU MAY HAVE TO JOIN CLAIMS WITH THOSE OF OTHERS IN THE FORM OF A CLASS ACTION OR SIMILAR PROCEDURAL DEVICE. ANY CLAIMS ARISING OUT OF, RELATING TO, OR CONNECTED WITH THIS TOS MUST BE ASSERTED INDIVIDUALLY.</p>
        <p class="smalltitle">16. Limitation of Actions.</p>
        <p>You acknowledge and agree that, regardless of any statute or law to the contrary, any claim or cause of action you may have arising out of, relating to, or connected with your use of the Web Site, must be filed within one calendar year after such claim or cause of action arises, or forever be barred.</p>
        <p class="smalltitle">17. Modification of Terms of Service.</p>
        <p>We reserve the right to change or modify these Terms of Use at any time and your continued use of this site will be conditioned upon the Terms of Use in force at the time of your use. You can always check the most current version of the Terms of Use at this page.</p>
        <p class="smalltitle">18. Termination.</p>
        <p>We will have the right to terminate your access to the Web Site if we reasonably believe you have breached any of the terms and conditions of this TOS. Following termination, you will not be permitted to use the Web Site and we may, in our discretion, cancel any outstanding Product Orders. If your access to the Web Site is terminated, we reserve the right to exercise whatever means we deem necessary to prevent unauthorized access to the Web Site, including, but not limited to, technological barriers, IP mapping, and direct contact with your Internet Service Provider. This TOS will survive indefinitely unless and until we choose to terminate it, regardless of whether any account you open is terminated by you or us or if you have the right to access or use the Web Site.</p>
        <p class="smalltitle">19. Integration.</p>
        <p>This TOS contains the entire understanding between you and us regarding the use of the Web Site, and supersedes all prior and contemporaneous agreements and understandings between you and us relating thereto.</p>
        <p class="smalltitle">20. Additional Terms.</p>
        <p>This TOS will be binding upon each party hereto and its successors and permitted assigns, and governed by and construed in accordance with the laws of the State of Massachusetts without regard for conflict of law principles. This TOS and all of your rights and obligations under them may not be assignable or transferable by you without our prior written consent. No failure or delay by a party in exercising any right, power or privilege under this TOS will operate as a waiver thereof, nor will any single or partial exercise of any right, power or privilege preclude any other or further exercise thereof or the exercise of any other right, power, or privilege under this TOS. You are an independent contractor, and no agency, partnership, joint venture, employee-employer relationship is intended or created by this TOS. The invalidity or unenforceability of any provision of this TOS will not affect the validity or enforceability of any other provision of this TOS, all of which will remain in full force and effect.</p>
    </div>
</div>
<div class="content__footer">
    <p>These statements have not been verified by the FDA. The product is not intended to diagnose, cure, treat, or prevent any disease. If a condition persists, please consult your physician.<br> The content found on this website should not be used as specific medical advice or a substitute for a medical consultation with your physician.</p>
</div>