.top {
    background-color: #2f3236;
    padding: 5px 0;
    &.fixedtop {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 9;
    }
    &__list {
        text-align: center;
        @media screen and (max-width: $large) {
            padding: 0 15px;
        }
    }
    &__item {
        color: $custom-blue;
        font-size: 14px;
        @extend %font-i;
        display: inline-block;
        padding: 0 10px;
        @media screen and (max-width: $small) {
            display: block;
            @media screen and (max-width: $large) {
                display: inline;
                padding: 0;
            }
        }
        &:nth-child(2) {
            position: relative;
            @media screen and (max-width: $small) {
                display: inline-block;
                @media screen and (max-width: $small) {
                    display: inline;
                }
            }
            &:after, &:before {
                content: "•";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                @media screen and (max-width: $small) {
                    content: "";
                }
            }
            &:after {
                left: -2px;
            }
            &:before {
                right: -2px;
            }
        }
        span {
            color: $custom-white;
            @extend %font-title;
        }
    }
}