.testimonials {
    padding: 100px 0 60px 0;
    .title {
        margin-bottom: 40px;
        text-align: center;
    }
    span.star {
        font-size: 14px;
        @extend %font-i;
        color: rgb(134, 134, 134);
        position: relative;
        top: -30px;
        @media screen and (max-width: $large) {
            top: -20px;
        }
        @media screen and (max-width: $small) {
            top: -12px;
            font-size: 12px;
        }
    }
    @media screen and (max-width: $small) {
        padding: 60px 0 30px 0;
    }
    &__content {
        padding: 45px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
        min-height: 450px;
        width: 830px;
        margin: 0 auto;
        position: relative;
        @media screen and (max-width: $large) {
            width: 640px;
        }
        @media screen and (max-width: $small) {
            width: 100%;
            padding: 20px;
            min-height: auto;
        }
        &:before {
            content: "";
            width: 170px;
            height: 181px;
            position: absolute;
            left: -170px;
            top: 51px;
            background-image: url(../img/leaves-1.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
        }
        &:after {
            content: "";
            width: 170px;
            height: 275px;
            position: absolute;
            right: -170px;
            bottom: 20px;
            background-image: url(../img/leaves-2.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
        }
    }
    &__carousel {
        position: relative;
        padding: 50px 0;
        @media screen and (max-width: $small) {
            padding: 25px 0;
        }
        &:before {
            content: "";
            width: 70px;
            height: 55px;
            background-image: url(../img/quotes.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
            position: absolute;
            top: 0;
            left: 0;
            @media screen and (max-width: $small) {
                width: 21px;
                height: 21px;
            }
        }
        &:after {
            content: "";
            width: 70px;
            height: 55px;
            background-image: url(../img/quotes.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
            transform: rotate(180deg);
            position: absolute;
            bottom: 0;
            right: 0;
            @media screen and (max-width: $small) {
                width: 21px;
                height: 21px;
            }
        }

        .owl-nav {
            position: absolute;
            top: 0;
            right: 0;
            width: 150px;
            @include flex(row, space-between, center);

            .owl-prev, .owl-next {
                font-size: 12px;
                text-transform: uppercase;
                line-height: 2.256;
                @extend %font-roboto;
                letter-spacing: 3px;
                display: block;
                font-size: 12px;
                color: rgb(174, 198, 198);
                &:hover {
                    color: rgb(44, 186, 173);
                }
            }
            .owl-prev {
                &:before {
                    content: fa-content($fa-var-long-arrow-alt-left);
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                    padding-right: 10px;
                }
            }
            .owl-next {
                &:after {
                    content: fa-content($fa-var-long-arrow-alt-right);
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                    padding-left: 10px;
                }
            }
        }
        .owl-dots {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            @include flex(row, space-between, center);
            @media screen and (max-width: $small) {
                bottom: 7px;
            }
            .owl-dot {
                display: inline-block;
                &:not(:last-child) {
                    margin-right: 10px;
                }
                span {
                    display: block;
                    width: 7px;
                    height: 7px;
                    background-color: rgb(211, 207, 253);
                    border-radius: 50%;
                }
                &.active {
                    span {
                        width: 10px;
                        height: 10px;
                        background-color: rgb(146, 135, 251);
                    }
                }
            }
        }

    }
    &__item {
        padding: 40px 0;
    }
    &__text {
        @extend %font-n;
        font-size: 26px;
        color: rgb(47, 50, 54);
        line-height: 1.5;
        text-align: center;   
        @media screen and (max-width: $small) {
            font-size: 16px;
        }       
    }
    &__name {
        margin-top: 30px;
        font-size: 24px;
        @extend %font-i;
        color: rgb(158, 180, 180);
        line-height: 1.2;
        text-align: center;
        @media screen and (max-width: $small) {
            font-size: 14px;
        }
    }
    &__bottom {
        margin-top: 25px;
        @extend %font-i;
        font-size: 12px;
        color: rgb(134, 134, 134);
        line-height: 1.333;
        text-align: center;
    }
}