.faq {
    padding: 85px 0;
    background-image: url(../img/faq-back.png);
    background-size: cover;
    position: relative;
    &:after {
        content: "";
        width: 100%;
        height: 100%;
        background-image: url(../img/img-4.png);
        background-size: auto 100%;
        background-position: right bottom;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        @media screen and (max-width: $large) {
            width: 70%;
            background-size: 100%;
        }
        @media screen and (max-width: $small) {
            width: 100%;
        }
    }
    .container {
        z-index: 2;
    }
    .title {
        color: $custom-white;
        text-align: center;
        margin-bottom: 70px;
    }
    .col1 {
        width: 50%;
        margin-left: 40px;
        @media screen and (max-width: $large) {
            width: 100%;
            margin-left: 0;
        }
    }
    .sub-title {
        margin: 25px 0 10px 0;
        @extend %font-title;
        font-size: 24px;
        color: $custom-white;
        text-align: left;
    }
    p {
        color: $custom-white;
        text-align: left;
    }
    &__ordernow {
        background: $custom-white;
        color: rgb(42, 38, 80);
        background-color: rgb(255, 255, 255);
        box-shadow: 0 3px 25px white;
        transition: 0.5s;
        margin-top: 30px;
        &:hover {
            background-color: $custom-white-hover;
        }
    }
}