.order {
    padding: 60px 0;

    .container {
        @include flex(row, center, center);
        padding-left: -15px;
        padding-right: -15px;
        @media screen and (max-width: $small) {
           @include flex(column, flex-start, center); 
        }
    }
    &__item {
        width: 33.3333%;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
        @include flex(column, center, center);
        z-index: 1;
        padding: 50px;
        @media screen and (max-width: $large) {
            padding: 20px;
        }
        @media screen and (max-width: $small) {
            width: 100%;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
        &.optimal {
            z-index: 2;
            background-image: -moz-linear-gradient( 0deg, rgb(44,186,173) 0%, rgb(44,184,186) 100%);
            background-image: -webkit-linear-gradient( 0deg, rgb(44,186,173) 0%, rgb(44,184,186) 100%);
            background-image: -ms-linear-gradient( 0deg, rgb(44,186,173) 0%, rgb(44,184,186) 100%);
            box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);              

            .title {
                font-size: 32px;
                color: rgb(255, 255, 255);    
                span {
                    color: rgb(161, 240, 233);
                }          
            }
            .text {
                color: rgb(161, 240, 233);
                font-size: 16px;
                b {
                    color: $custom-white;   
                }
            }
            .order__price {
                color: $custom-white;
                font-size: 50px;
            }
            .order__buynow {
                color: rgb(10, 89, 83);
                background-color: rgb(255, 255, 255);
                transition: 0.5s;
                box-shadow: 0 3px 25px white; 
                &:hover {
                    background-color: $custom-white-hover;
                }           
            }
        }
        img {
            max-width: 100%;
        }
    }
    .title {
        text-align: center;  
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 40px;
    }
    .text {
        @extend %font-gotham-n;
        font-size: 14px;
        color: rgb(107, 132, 132);
        line-height: 1.2;
        text-align: center; 
        margin-bottom: 10px;
    }
    &__image {
        margin-bottom: 30px;
        position: relative;
    }
    .discount1 {
        background-image: url(../img/discount-1.svg);
    }
    .discount2 {
        background-image: url(../img/discount-2.svg);
    }
    &__price {
        @extend %font-title;
        color: rgb(44, 186, 173);
        margin: 20px 0 30px 0;
        font-size: 32px;
        color: rgb(44, 186, 173);
        line-height: 0.846;
        text-align: center;
    }
    &__buynow {
        background-color: rgb(146, 135, 251);
        box-shadow: 0px 3px 25px 0px rgba(146, 135, 251, 0.9);   
        transition: 0.5s;
        color: $custom-white;   
        &:hover {
            background-color: $custom-purple-hover;
        }    
    }
}