.subscribe {
    margin-bottom: 70px;
    @media screen and (max-width: $small) {
        margin-bottom: 0;
    }
    .container {
        @media screen and (max-width: $small) {
            padding: 0;
        }
    }
    &__content {
        @include flex(row, space-between, center);
        border-width: 10px;
        border-color: rgb(146, 135, 251);
        border-style: solid;
        background-color: rgb(146, 135, 251);
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
        padding: 60px 100px 40px 100px;
        @media screen and (max-width: $large) {
            padding: 40px 50px 40px 50px;
            @include flex(column, flex-start, center);
        }
        @media screen and (max-width: $small) {
            padding: 20px;
        }
        .col1, .col2 {
            padding: 0 15px;
            text-align: center;
            @media screen and (max-width: $large) {
                width: 100%;
            }
            
        }
    }
    img {
        max-width: 100%;
    }
    .title {
        color: $custom-white;
        margin-bottom: 30px;
        color: rgb(255, 255, 255);     
        font-size: 40px;
        text-align: center;
        @media screen and (max-width: $large) {
            margin-top: 30px;
        }
        @media screen and (max-width: $small) {
            font-size: 27px;
        }
    }
    .text {
        font-size: 18px;
        @extend %font-gotham-n;
        color: rgb(255, 255, 255);
        line-height: 1.8;
        text-align: center; 
        @media screen and (max-width: $small) {
            line-height: 1.3;
        }                  
    }
    &__image {
        position: relative;
        @media screen and (max-width: $large) {
            max-width: 100%;
            text-align: center;
        }
        .discount3 {
            background-image: url(../img/discount-3.svg);
        }
    }
    &__ordernow {
        background-color: rgb(255, 255, 255);
        transition: 0.5s;
        box-shadow: 0 3px 25px white;
        color: rgb(42, 38, 80);
        margin: 0 auto;
        margin-top: 40px;
        &:hover {
            background-color: $custom-white-hover;
        }
    }
}
.refund {
    background-color: rgb(245, 245, 245);
    padding: 110px 0 65px 0;
    @media screen and (max-width: $small) {
        padding: 40px 0 30px 0;
    }
    .small-container {
        background-image: url(../img/refund.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: auto 100%;
    }
     
    .title {
        text-align: center;
        font-size: 40px;
        margin-bottom: 15px;
    }
    .sub-title {
        @extend %font-title;
        text-align: center;
        color: $custom-blue;
        font-size: 27px;
        margin-bottom: 20px;
    }
    .text {
        font-size: 20px;
        color: rgb(107, 132, 132);
        line-height: 1.35;
        text-align: center;          
    }

    &__name {
        margin-top: 60px;
        font-size: 21px;
        @extend %font-i;
        color: rgb(40, 47, 47);
        text-align: center;
          
        span {
            font-size: 40px;
            font-family: "Zeyada";
            color: rgb(146, 135, 251);
            line-height: 1.2;   
            @media screen and (max-width: $small) {
                display: block;
            }   
        }
    }
}