.footer {
    margin-top: 70px;
    .container {
        padding: 0;
        z-index: 2;
        @media screen and (max-width: $medium) {
            padding: 0 15px;
        }
    }
    &__top {
        padding: 40px 0;
        background-color: rgb(40, 47, 47);
        background-image: url(../img/chanca-piedra-draw-3.png);
        background-position-x: calc(100% - 100px);
        background-position-y: center;
        background-size: auto 100%;
        background-repeat: no-repeat;
        .container {
            @include flex(row, flex-start, flex-start);   
            @media screen and (max-width: $small) {
                @include flex(column, flex-start, flex-start);
            }         
        }
    }
    &__bottom {
        background-color: rgb(30, 35, 35);
        padding: 12px 0;
        .container {
            @include flex(row, space-between, center);
            @media screen and (max-width: $small) {
                @include flex(column, flex-start, center);
            } 
        }
        p {
            font-size: 14px;
            color: rgb(69, 84, 84);
            @media screen and (max-width: $small) {
                text-align: center;
            }
        }
        a {
            display: inline-block;
            padding-right: 20px;
            position: relative;
            color: rgb(27, 181, 31);
            text-decoration: underline;
            &:after {
                content: "";
                background-image: url(../img/spark.png);
                background-position: center;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                height: 16px;
                width: 16px;

            }
        }
    }
    
    .title {
        color: $custom-white;
        margin-bottom: 20px;
        font-size: 28px;
        @media screen and (max-width: $small) {
            font-size: 18px;
        }
    }
    .text {
        font-size: 13px;
        color: rgba(107, 132, 132, 0.502);
        line-height: 1.385;
        text-align: left;
    }
    .col1 {
        width: 44%;
        padding-right: 15px;
        @media screen and (max-width: $large) {
            width: 40%;
        }
        @media screen and (max-width: $small) {
            width: 100%;
        }
        .text {
            @extend %font-i;
            max-width: 410px;
        }
    }
    .col2 {
        width: 20%;
        padding-right: 15px;
        @media screen and (max-width: $large) {
            width: 24%;
        }
        @media screen and (max-width: $small) {
            width: 100%;
            margin-top: 30px;
        }
        a {
            display: block;
            margin-bottom: 10px;
            color: $custom-blue;
            text-decoration: underline;
            font-size: 13px;
        }
    }
    .col3 {
        width: 36%;
        @media screen and (max-width: $small) {
            width: 100%;
            margin-top: 30px;
        }
        .text {
            @extend %font-n;
        }
        span {
            display: block;
            font-size: 16px;
            margin-top: 20px;
            a {
                text-decoration: none;
            }
        }
    }
}