.header {
    @include flex(row, space-between, center);
    border-bottom: 1px solid rgba(221, 221, 221, 0.6);
    padding: 15px 0;
    @media screen and (max-width: $small) {
        flex-wrap: wrap;
        padding-top: 50px;
    }
    &__call {
        border: 1px solid $custom-blue;
        background-color: transparent;
        color: $custom-blue;
        cursor: pointer;
        padding: 15px 20px;
        letter-spacing: 1px;
        &:hover {
            background-color: $custom-blue;
            color: $custom-white;
        }
        i {
            transform: rotate(90deg);
            display: inline-block;
            margin-right: 4px;
        }
        @media screen and (max-width: $small) {
            display: none;
            // margin: 0 auto;
            // margin-top: 15px;
            // position: fixed;
            // bottom: 30px;
            // right: 30px;
            // z-index: 11;
            // background-color: white;
            // padding: 30px;
            // font-size: 0;
            // i {
            //     display: block;
            //     position: absolute;
            //     font-size: 27px;
            //     top: 50%;
            //     left: 50%;
            //     transform: translate3d(-50%, -50%, 0);
            // }
        }
    }

    .logotype {
        width: 137px;
        height: 20px;
        background-image: url(../img/logo.svg);
        @media screen and (max-width: $small) {
            width: 50%;
            background-repeat: no-repeat;
            position: absolute;
            top: 23px;
            left: 15px;
        }
    }
}
.menu {
    @include flex(row, space-between, center);
    width: 100%;
    @media screen and (max-width: $small) {
        width: 50%;
    }
    &__list {
        @media screen and (max-width: $small) {
            display: block;
            position: fixed;
            height: 100%;
            width: 100%;
            background-color: white;
            z-index: 99;
            top: 0;
            left: 0;
            padding: 60px 30px;
            transform: translateX(-100%);
            transition: all 0.2s ease-in-out;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
    }
    &__item {
        padding: 0 20px;
        display: inline-block;
        @media screen and (max-width: $small) {
            display: block;
            margin-bottom: 20px;
            a {
                letter-spacing: 3px;
            }
        }
        a {
            @extend %font-b;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 11px;
            color: $custom-gray;
            @media screen and (max-width: $small) {
                font-size: 21px;
            }
            &:hover {
                color: $custom-blue;
            }
            .active {
                color: $custom-blue;
            }
        }
        @media screen and (max-width: $large) {
            padding: 0 10px;
        }
    }
    &__open {
        display: none;
        @media screen and (max-width: $small) {
            display: block;
            border: 0;
            background-color: transparent;
            font-size: 32px;
            float: right;
            right: 15px;
            top: 15px;
            position: absolute;
        }
    }
    &__close {
        display: none;
        @media screen and (max-width: $small) {
            position: absolute;
            top: 24px;
            right: 24px;
            display: block;
            border: 0;
            background-color: transparent;
            font-size: 32px;
            color: #a6a7a9;
        }
    }
    &.toggle {
        .menu__list {
            transform: translateX(0);
        }
        .header__call {
            display: block;
            position: fixed;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 101;
        }

    }
}
.showcase {
    @include flex(row, space-between, center);
    padding: 145px 0 100px 0;
    @media screen and (max-width: $large) {
        padding: 80px 0 40px 0;
    }
    @media screen and (max-width: $small) {
        @include flex(column, flex-start, center);
        padding: 30px 0 30px 0;
    }
    .col1, .col2 {
        width: 50%;
    }
    .col1 {

        .title {
            margin-bottom: 25px;
            color: $custom-black;
            @media screen and (max-width: $small) {
                line-height: 1.3;
            }
        }
        p {
            display: block;
            color: rgb(146, 146, 146);
        }
        @media screen and (max-width: $large) {
            width: 55%;
        }
        @media screen and (max-width: $small) {
            width: 100%;
        }
    }
    .col2 {
        text-align: center;
        @media screen and (max-width: $large) {
            width: 45%;
        }
        @media screen and (max-width: $small) {
            width: 100%;
            margin-top: 30px;
            display: none;
        }
        img {
            max-width: 100%;
        }
        // animation pulse
        .image-circle {
            position: relative;
            margin: 0 auto;
            display: block;
            z-index: 1;
            img {
                z-index: 1;
                margin-left: -30px;
                margin-top: 10px;
            }
        }
        .image-pulse {
            height: 0;
            width: 100%;
            padding-top: 100%;
            // background-color: #9388fb;
            -moz-border-radius: 100%;
            border-radius: 100%;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto 0;
            opacity: .75;
            z-index: -1;
            @media screen and (max-width: $large) {
                width: 70%;
                padding-top: 70%;
                transform: translate3d(0, 0, 0);
            }
        }
        .image-pulse:before, .image-pulse:after {
            position: absolute;
            bottom: 0;
            top: 0;
        }
        .image-pulse:before {
            content: '';
            width: 100%;
            height: 100%;
            display: inline-block;
            position: absolute;
            border-radius: 50%;
            background-color: rgb(147, 136, 251);
            opacity: 0;
            -webkit-transform: scale(0.6);
            transform: scale(0.6);
            animation-name: preloading;
            animation-duration: 3s;
            animation-delay: 1.5s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            margin: -1% 0 auto -49%;

            @media screen and (max-width: $large) {
                -webkit-transform: scale(1);
                transform: scale(1);
                margin: -2% 0 auto -27%;
                animation-name: preloading-small;
            }
        }
        .image-pulse:after {
            content: '';
            width: 100%;
            height: 100%;
            display: inline-block;
            position: absolute;
            border-radius: 50%;
            background-color: rgb(147, 136, 251);
            opacity: 0;
            -webkit-transform: scale(0.6);
            transform: scale(0.6);
            animation-name: preloading;
            animation-duration: 3s;
            animation-delay: -3s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            margin: -1% 0 auto -49%;

            @media screen and (max-width: $large) {
                -webkit-transform: scale(1);
                transform: scale(1);
                margin: -2% 0 auto -27%;
                animation-name: preloading-small;
            }

        }
        @keyframes preloading-small {
            0% {
                opacity: 1;
                transform: scale(1);
            }
            100% {
                opacity: 0;
                transform: scale(1.6);
            }
        }
        @keyframes preloading {
            0% {
                opacity: 1;
                transform: scale(0.6);
            }
            100% {
                opacity: 0;
                transform: scale(1.1);
            }
        }        
    }
    &__buttonblock{
        margin: 35px 0 100px 0;
        @include flex(row, flex-start, center);
        max-width: 450px;  
        @extend %font-roboto;
        @media screen and (max-width: $small) {
            width: 100%;
            margin: 35px 0 35px 0;
            @include flex(column, flex-start, center);
        }
        & > span {
            color: rgb(166, 166, 166);
            margin-top: -3px;
            font-size: 12px;
            margin: 0 15px 0 20px;
        }      
    }
    &__getstarted {
        color: $custom-white;
        font-size: 12px;
        @extend %font-roboto;
        background-color: $custom-purple;
        box-shadow: 0 3px 25px rgba(146, 135, 251, 0.9);
        transition: 0.5s;
        @media screen and (max-width: $small) {
            margin-bottom: 15px;
        }
        &:hover {
            background-color: $custom-purple-hover;
        }
    }
    &__watchthevideo {
        @extend %font-roboto;
        letter-spacing: 3px;
        @include flex(row, space-between, center); 
        background-color: transparent;
        border: 0;
        font-size: 12px; 
        span {
            color: rgb(36, 59, 56);
            text-transform: uppercase;
        }
        .videobutton {
            width: 50px;
            height: 50px;
            background-image: url(../img/btn.svg);
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center;
            margin-left: 10px;
        }
    }
    &__icongroup {
        @include flex(row, space-between, flex-start);
        max-width: 480px;
        position: relative;
        &:before {
            content: "";
            background-color: rgb(231, 231, 231);
            height: 1px;
            width: 100%;
            top: -48px;
            left: 0;
            position: absolute;
            @media screen and (max-width: $small) {
                top: -20px;
            }
        }
        .icon {
            max-width: 100px;
            height: 80px;
            text-align: center;
            span {
                color: rgb(101, 101, 101);
                @extend %font-n;
                font-size: 12px;
                text-transform: uppercase;
                display: block;
                margin-top: 10px;
            }
            i {
                width: 60px;
                height: 40px;
                background-position: center center;
                background-repeat: no-repeat;
                display: block;
                margin: 0 auto;
            }
            &.icon1 {
                i {
                    background-image: url(../img/icon-1.svg);
                }
            }
            &.icon2 {
                i {
                    background-image: url(../img/icon-2.svg);
                }
            }
            &.icon3 {
                i {
                    background-image: url(../img/icon-3.svg);
                }
            }
        }
        .separator {
            position: relative;
            width: 1px;
            height: 60px;
            background-color: rgb(231, 231, 231);
            top: 10px;
        }
    }
}