.bad {
    padding: 120px 0 100px 0;
    background-color: rgb(245, 245, 245);
    position: relative;
    display: block;
    width: 100%;
    &:before {
        content: "";
        width: 410px;
        height: 532px;
        background-image: url(../img/img-1.png);
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &:after {
        content: "";
        width: 421px;
        height: 525px;
        background-image: url(../img/img-2.png);
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        top: 0;
        right: 0;
        @media screen and (max-width: $small) {
            display: none;
        }
    }    
    p {
        margin-bottom: 20px;
        text-align: justify;
        color: rgb(107, 132, 132);
    }
    .title {
        margin-bottom: 50px;
        text-align: center;
        color: $custom-black;
    }
    .subtitle {
        font-size: 21px;
        color: $custom-black;
        line-height: 1.5;
        @media screen and (max-width: $small) {
            font-size: 18px;
        }
    }
}