.about {
    background-image: url(../img/about-back.png);
    background-size: cover;
    .container {
        position: relative;
        padding: 80px 0;
        height: 100%;
        @media screen and (max-width: $small) {
            padding: 80px 15px;
        }
        &:before {
            content: "";
            width: 640px;
            height: 100%;
            background-image: url(../img/chanca-piedra-draw.png);
            background-size: 100%;
            background-position: bottom;
            background-repeat: no-repeat;
            position: absolute;
            bottom: 0;
            right: -30px;
            @media screen and (max-width: $large) {
                width: 430px;
                right: -60px;
            }
            @media screen and (max-width: $small) {
                display: none;
            }
        }
    }
    &__container {
        width: 530px;
        margin-left: 70px;
        @media screen and (max-width: $small) {
            width: 100%;
            margin: 0;
        }
    }
    .text {
        font-size: 20px;
        color: rgb(161, 240, 233);
        line-height: 1.5;
        span {
            color: $custom-white;
        }
    }
    .title {
        text-align: left;
        margin-bottom: 20px;
        color: $custom-white;
    }
    &__order {
        background-color: $custom-white;
        box-shadow: 0 3px 25px rgba(255, 255, 255, 0.7);
        color: rgb(10, 89, 83);
        margin-top: 30px;
        transition: 0.5s;
        &:hover {
            background-color: $custom-white-hover;
        }
    }
}
  