.group8 {
    padding: 90px 0;
    .title {
        text-align: center;
        margin-bottom: 50px;
    }
    p {
        margin-bottom: 20px;
        text-align: justify;
    }
    img {
        width: 80%;
        margin: 0 auto;
        display: block;
        @media screen and (max-width: $small) {
            width: 100%;
        }
    }
    .up-title {
        margin-bottom: 0;
        text-align: center;
    } 
}