.ceo {
    position: relative;
    padding: 70px 0;
    background-color: rgb(245, 245, 245);
    &:after {
        content: "";
        width: 580px;
        height: 100%;
        position: absolute;
        top: -4px;
        right: 0;
        background-image: url(../img/pills.png);
        background-position: top;
        background-size: 100%;
        background-repeat: no-repeat;
        @media screen and (max-width: $large) {
            width: 380px;
        }
        @media screen and (max-width: $small) {
            display: none;
        }
    }
    .container {
        z-index: 1;
        position: relative;
    }
    &__container {
        position: relative;
        max-width: 720px;
        margin-left: 0;
        @media screen and (max-width: $medium) {
            margin-left: 0;
        }
        .title {
            margin-bottom: 30px;
            font-size: 40px;
            @media screen and (max-width: $small) {
                font-size: 27px;
            }
        }    
        .text {
            margin-bottom: 15px;
        }
    }
}