.features {
    padding: 70px 0;
    .title {
        text-align: center;
        margin-bottom: 20px;
    }
    &__wrap {
        @include flex(row, space-between, center);
        @media screen and (max-width: $small) {
            @include flex(column, flex-start, center);
        }
    }
    .col1, .col2 {
        width: 50%;
        display: inline-block;
        @media screen and (max-width: $small) {
            width: 100%;
        }
    } 
    .col1 {
        margin-left: -70px;
        @media screen and (max-width: $large) {
            margin-left: -40px;
            img {
                max-width: 100%;
            }
        }
        @media screen and (max-width: $small) {
            margin: 0 0 20px 0;
            text-align: center;
        }
    }
    &__imgdesc {
        font-size: 14px;
        @extend %font-i;
        color: rgba(131, 151, 151, 0.702);
        line-height: 1.2;
        text-align: center;   
        display: block;
        width: 80%;
        margin: 0 auto;   
        margin-top: -50px;   
        @media screen and (max-width: $large) {
            margin-top: -20px;
            width: 76%;
            br {
                display: none;
            }
        }
    }
    .col2 {
        @media screen and (max-width: $large) {
            width: calc(50% + 40px);
        }
        @media screen and (max-width: $small) {
            width: 100%;
        }
    }
    &__list {

    }
    &__item {
        position: relative;
        display: block;
        padding-left: 40px;
        margin-bottom: 25px;
        &:before {
            content: "";
            width: 20px;
            height: 20px;
            background-image: url(../img/check.png);
            background-position: center;
            background-size: 100%;
            position: absolute;
            left: 5px;
            top: 3px;
        }
    }
    &__title {
        font-size: 14px;
        color: $custom-black;
        @extend %font-b;
        line-height: 1.5;
        text-transform: uppercase;
    }
    &__description {
        font-size: 14px;
        color: $text;
        @extend %font-n;
        line-height: 1.5;

    }      
}