.story {
    padding: 80px 0 90px 0;
    position: relative;
    background-color: #f5f5f5;
    @media screen and (max-width: $small) {
        padding: 40px 0 40px 0;
    }
    &:before {
        content: " ";
        width: 370px;
        height: 100%;
        background-image: url(../img/chanca-piedra-draw-2.png);
        background-position: top;
        background-size: 100%;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        top: 0;
        @media screen and (max-width: $small) {
            display: none;
        }
    }
    &:after {
        content: " ";
        width: 44%;
        height: 100%;
        background-image: url(../img/chanca-piedra.png);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        right: -2.5%;
        bottom: -80px;
        @media screen and (max-width: $large) {
            width: 40%;
            bottom: -30px;
        }
        @media screen and (max-width: $small) {
            display: none;
        }
    }
    p {
        margin-bottom: 20px;
        &:not(:last-child) {
            text-align: justify;
        }
    }
    .title {
        text-align: center!important;
        margin-bottom: 30px;
    }
    .up-title {
        text-align: center!important;
        margin-bottom: 0;
    }
    &__makeyourorder {
        background-color: $custom-purple;
        box-shadow: 0px 3px 25px 0px rgba(146, 135, 251, 0.9);
        margin: 0 auto;
        color: $custom-white;
        margin-top: 60px;
        transition: 0.5s;
        &:hover {
            background-color: $custom-purple-hover;
        }
    }      
}