.supplement {
    padding: 90px 0 65px 0;
    .container {
        @include flex(row, flex-start, center);
        @media screen and (max-width: $small) {
           @include flex(column, flex-start, center); 
        }
    }
    .col1, .col2 {
        width: 50%;
        @media screen and (max-width: $small) {
            width: 100%;
        }
    }
    .col1 {
        padding-right: 15px;
        @media screen and (max-width: $small) {
            padding: 0;
        }
        @media screen and (max-width: $small) {
            order: 2;
            text-align: center;
        }
    }
    &__image {
        background-image: url(../img/supplement.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        padding-top: 69%; 
        width: 100%;
        max-width: 520px;
        @media screen and (max-width: $small) {
            display: inline-block;
        }
    }
    .col2 {
        padding-left: 15px;
        @media screen and (max-width: $small) {
            padding: 0;
        }
        @media screen and (max-width: $small) {
            order: 1;
        }
    }
    .title {
        margin-bottom: 30px;
        font-size: 40px;
        @media screen and (max-width: $large) {
            position: absolute;
            width: 100%;
            left: 50%;
            top: -65px;
            transform: translateX(-50%);
            text-align: center;
        }
        @media screen and (max-width: $small) {
            position: static;
            transform: translateX(0);
            font-size: 27px;
        }
    }
    .text {
        margin-bottom: 20px;
    }
}
.guarantee {
    padding: 90px 0 80px 0;
    position: relative;
    background-color: rgb(167, 156, 252);
    background-image: url(../img/guarantee-back.png);
    background-size: cover;
    &:before {
        content: "";
        position: absolute;
        bottom: 40px;
        left: 40px;
        display: block;
        background-image: url(../img/stamp.svg);
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        width: 147px;
        height: 133px; 
        @media screen and (max-width: $small) {
            display: none;
        }
    }
    &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 100%;
        display: block;
        background-image: url(../img/img-3.png);
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: right;
        @media screen and (max-width: $small) {
            background-size: 100%;
        }
    }
    .small-container {
        text-align: center;
    }
    .title {
        color: $custom-white;
        margin-bottom: 30px;
    }
    .big-text {
        color: $custom-white;
        font-size: 24px;
        margin-bottom: 15px;
    }
    .text {
        font-size: 18px;
        color: rgb(227, 224, 254);
    }
    &__ordernow {
        color: rgb(42, 38, 80);
        background-color: $custom-white;
        box-shadow: 0 3px 25px $custom-white;
        margin-top: 45px;
        transition: 0.5s;
        &:hover {
            background-color: $custom-white-hover;
        }
    }

}
.ingredients {
    padding: 80px 0;
    &__container {
        width: 900px;
        margin-left: 55px;
        @media screen and (max-width: $large) {
            width: auto;
        }
        @media screen and (max-width: $small) {
            margin-left: 0;
        }
    }
    .title {
        margin-bottom: 50px;
        text-align: center;
        @media screen and (max-width: $small) {
            margin-bottom: 30px;
        }
    }
    &__list {

    }
    &__item {
        @include flex(row, flex-start, flex-start);
        margin-bottom: 25px;
        img {
            width: 160px;
            height: auto;
        }
        @media screen and (max-width: $small) {
            @include flex(column, flex-start, center);
        }
    }
    &__content {
        margin-left: 40px; 
        @media screen and (max-width: $small) {
            margin-left: 0;
        }
    }
    &__title {
        @extend %font-title;
        font-size: 24px;
        margin-bottom: 3px;
        color: $custom-black;
        @media screen and (max-width: $small) {
            text-align: center;
        }
    }
    &__description {

    }
}
.better {
    padding: 80px 0;
    background-color: rgb(245, 245, 245);
    .container {
        @include flex(row, space-between, center);
        @media screen and (max-width: $large) {
            @include flex(column, flex-start, center);
        }
    }
    .col1 {
        width: 740px;
        padding-left: 35px;
        @media screen and (max-width: $large) {
            width: 100%;
        }
        @media screen and (max-width: $small) {
            padding-left: 0;
        }
    }
    .title {
        display: block;
        font-size: 46px;
        margin-bottom: 15px;
        @media screen and (max-width: $small) {
            font-size: 27px;
        }
    }
    .up-title {
        display: block;
        text-align: left;
        margin-bottom: 25px;
        color: rgb(190, 196, 196);
    }
    .sub-title {
        margin: 30px 0 15px 0;
        @extend %font-title;
        font-size: 24px;
        color: $custom-black;
    }
    .col2 {
        margin-right: -15px;
        @include flex(column, flex-start, flex-start);
        @media screen and (max-width: $small) {
            margin-right: 0;
        }
        img {
            max-width: 100%;
        }
        .logos {
            margin-left: 30px;
            @media screen and (max-width: $small) {
                margin: 0 auto;
            }
        }
    }
}