.modal {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        top: 0;
        left: 0;
    }
    &__window {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        background-color: transparent;
        width: 80%;
        max-width: 800px;
        height: auto;
        iframe, video {
           width: 100%;
        }
    }
    &__close {
        color: #a6a7a9;
        font-size: 32px;
        position: absolute;
        top: -40px;
        right: -23px;
    }
    &.show {
        display: block;
        
    }
}